Flask>=0.12.3	
Flask-Cors>=	3.0.3	
Jinja2>=	2.11.2	
MarkupSafe>=	1.1.1	
Werkzeug>=	1.0.1	
click>=	7.1.2	
gunicorn>=	19.7.1	
itsdangerous>=	1.1.0	
joblib>=	0.17.0	
numpy>=	1.15.3	
pandas>=	1.1.4	
pi>=	0.1.2	
pip>=	20.2.4	
python-dateutil>=	2.8.1]
pytz>=	2020.4	
scikit-learn>=	0.23.2	
scipy>=	1.5.4	
setuptools>=	39.0.1	
six>=	1.15.0	
sklearn>=	0.0	
threadpoolctl>=	2.1.0	
